@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lavishly+Yours&family=Permanent+Marker&family=Rubik+Wet+Paint&display=swap');

body {
    background-image: url(images/olympus.jpg);
    background-attachment: fixed;
    background-size: cover;
}

header {
    font-family: 'Lavishly Yours', cursive;
    font-size: 700%;
    text-align: center;
    color: white;
    font-weight: bold;
}

div {
    margin: 5%;
    text-align: center;
}

.return-button {
    font-family: 'Permanent Marker', cursive;
    padding: 1%;
    border-radius: 20px;
    border: solid 1px white;
    text-align: center;
    background-color: rgba(131, 172, 190, 0.2);
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    font-size: 100%;
}

.return-button:hover {
    background-color: #e7a730;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.9);
    color: #fff;
    transform: translateY(-7px);
    padding: 2%;
}

main {
    display: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

main span {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 110%;
    transition: 0.5s;
}

a:hover {
    font-size: 130%;
}

main a:visited {
    color: #e7a730;
}

h1 {
    color: white;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(243, 158, 46, 0.5);
    border: solid 1px white;
}