@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lavishly+Yours&family=Permanent+Marker&family=Rubik+Wet+Paint&display=swap');

body {
    background-image: url(images/space-stars.gif);
}

header {
    font-family: 'Permanent Marker', cursive;
    font-size: 400%;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

main {
    color: aliceblue;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    margin-top: 60px;
}


.return-button {
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    padding: 1%;
    border-radius: 20px;
    border: solid 1px white;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    font-size: 100%;
}

.return-button:hover {
    background-image: url(images/zoomstar.gif);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.9);
    color: #ff1361;
    transform: translateY(-7px);
    padding: 2%;
}

h2 {
    padding: 50px;
    font-size: 70px;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

img {
    border: 10px solid black;
    min-height: 3em;
    resize: both;
    background: rgba(0, 0, 0, 0.1);
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

ul {
    flex-direction: column;
    padding: 30px;
    grid-area: 2;
    font-size: 150%;
}