@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    background-image: url(images/space-stars.gif);
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 400%;
    text-align: center;
    margin-top: 3%;
    color: rgb(255, 255, 255);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

form {
    margin: 40px;
}

#first-name,
#last-name {
    padding: 20px;
    border-radius: 100px;
    background-image: url(images/galaxy-space.gif);
    background-size: 100%;
    color: black;
    font-size: larger;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

#clicky {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 100px;
    background-image: url(images/zoomstar.gif);
    background-size: 100%;
    color: white;
    font-size: larger;
    border: solid 1px white;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Abril Fatface', cursive;
}

#clicky:hover {
    padding: 10px 100px;
    background-image: url(images/zoomstar.gif);
    background-size: 100%;
    color: white;
    font-size: larger;
    border: solid 1px rgb(0, 0, 0);
    cursor: pointer;
}

.bottom-half {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}

.hero-left {
    display: flex;
    background-image: url(images/sky.gif);
    padding: 70px;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.hero-left:hover {
    transform: translateY(-15px);
    box-shadow: 0px 40px 30px rgba(40, 85, 151, 0.7);
}

.heroTitle {
    display: flex;
    font-family: 'Lavishly Yours', cursive;
    font-size: 500%;
    text-decoration: none;
    color: rgb(0, 63, 114);
}

.villain-right {
    display: flex;
    background-image: url(images/fire.gif);
    background-size: 130%;
    padding: 100px 80px;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.villain-right:hover {
    transform: translateY(-15px);
    box-shadow: 0px 40px 30px rgba(173, 55, 0, 0.7);
}

.villainTitle {
    display: flex;
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 400%;
    text-decoration: none;
    color: black;
}