@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    background-image: linear-gradient(black, brown);
    background-size: 100%;
    background-repeat: no-repeat;
}

div {
    margin: 5%;
    text-align: center;
}

header {
    font-family: 'Permanent Marker', cursive;
    font-size: 400%;
    text-align: center;
    color: brown;
}

main {
    display: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.return-button {
    font-family: 'Permanent Marker', cursive;
    padding: 1%;
    border-radius: 20px;
    border: solid 1px rgb(255, 0, 0);
    text-align: center;
    background-color: rgba(196, 88, 88, 0.2);
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    font-size: 100%;
}

.return-button:hover {
    background-color: #330000;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.9);
    color: #fff;
    transform: translateY(-7px);
    padding: 2%;
}

main span {
    font-family: 'Rubik Wet Paint', cursive;

}

a {
    text-decoration: none;
    color: rgb(202, 0, 0);
}